<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body style="background-color: rgb(232, 232, 232);">
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <h1>Contacts Page</h1>
    <% const name = 'Aleksan' %>
    <div class="un-div">
      Name added in ejs file: <strong><%= name %></strong>
    </div>
    <ul class="link-li-container">
    <% if (contacts.length) { %>
      <% contacts.forEach(({ name, link }) => { %>
        <li class="link-li">
          <a href="<%= link %>"><%= name %></a>
        </li>
      <% }) %>
    <% } %>
    </ul>
  </div>
</body>
</html>