<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="container">
    <h1>Posts</h1>
    <ul class="posts-wrapper">
      <% if (posts.length) { %>
        <% posts.forEach(({ id, title, date, author, text }) => { %>
          <li>
            <article class="post-container">
              <h3>
                <a href="/posts/<%= id %>"><%= title %></a>
              </h3>
              <p><%= text %></p>
              <div class="posts-info">
                <span><%= date %></span>
                <span><%= author %></span>
              </div>
            </article>
          </li>
        <% }) %>
      <% } %>
    </ul>
  </div>
</body>
</html>